@import '../styles/common.scss';

$mainColor:#3a3a3a;
$orangeColor:#E89F71;

$maxWidth:900px;

.layoutWrapper{
    display: grid;
    grid-template-rows:auto 1fr auto;  
    height: 100%;
}

.layoutMain{
        // @extend %container;
        max-width: $maxWidth;
        margin: 0 auto;
        padding: 0 15px;
        font-size: 28px;
        text-align: center;
        font-weight: 700;
        padding:40px 0;
        width: 100%;
}

.aboutWrapper {
    margin: 50px 0;
    text-align: left;
    & li {
        list-style-type:disc;
        & a {
            color: black;
            font-size: 20px;
            font-weight: normal;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.aboutMain {
    font-size: 24px;
    text-align: left;
}

.blogId__title{
    margin-bottom: 30px;
}

.blogId__text{
    font-weight: normal;
    text-align: left;
    font-size: 20px;
}

.signIn {
    width: 100%;
    // .signIn__container
    &__container{
        width: 200px;
        margin: 0 auto;
    }
    // .signIn__title
    &__title {
        margin-bottom: 30px;
    }
    // .signIn__subtitle
    &__subtitle {
        font-weight: normal;
        font-size: 18px;
        margin: 15px 0;
    }
}
.btn {
    background-color: rgb(49,124,198);
    color:white;
    width: 100%;
    height: 35px;
    font-size: 18px;
}

.formSignIn {
    padding: 0;
    display: flex;
    flex-direction: column;
    // .formSignIn__login, .formSignIn__password
    &__login,&__password {
        border:1px solid black;
        width: 100%;
        height: 30px;
        border-radius:3px;
        margin-bottom: 15px;
        padding: 0 7px;
    }
}



