.listWrapper {
    margin: 50px 0;
    text-align: left;

    & li {
        list-style-type:disc;

        & a {
            color: black;
            font-size: 20px;
            font-weight: normal;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.loading{
    margin-top: 50px;
}